_yardoc
.approvals
.bundle
.config
.idea/
.ruby-version
.rvmrc
.yardoc
*.gem
*.rbc
*.received.*
*.rt_rubocop_defaults.yml
coverage
doc/
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
